body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
}

main {
    position: relative;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.left-panel, .right-panel {
    overflow-y: auto;
}

.left-panel {
    width: 30%;
    padding: 15px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 65px;
}

.center-panel {
    width: 120px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    height: 100%;
}

.center-panel.green-glow {
    background-color: rgba(0, 255, 0, 0.3);
}

.center-panel.blue-glow {
    background-color: rgba(0, 191, 255, 0.3);
}

.center-panel.purple-glow {
    background-color: rgba(138, 43, 226, 0.3);
}

.right-panel {
    flex-grow: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000000;
    height: 100%;
}

.avatar-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 25px;
}

.avatar-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 0;
    height: 210px;
    aspect-ratio: 16 / 9;
    text-align: center;
    transition: all 0.3s ease;
    transform: scale(1);
    cursor: pointer;
}

.avatar-item:hover, .avatar-item.hovered, .avatar-item.selected {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
}

.avatar-item[data-avatar="Uncommon"]:hover {
    background-color: rgba(0, 255, 0, 0.1);
}

.avatar-item[data-avatar="Rare"]:hover {
    background-color: rgba(0, 191, 255, 0.1);
}

.avatar-item[data-avatar="Epic"]:hover {
    background-color: rgba(138, 43, 226, 0.1);
}

.avatar-item[data-avatar="Uncommon"].selected {
    background-color: rgba(0, 255, 0, 0.3);
}

.avatar-item[data-avatar="Rare"].selected {
    background-color: rgba(0, 191, 255, 0.3);
}

.avatar-item[data-avatar="Epic"].selected {
    background-color: rgba(138, 43, 226, 0.3);
}

.avatar-image {
    height: 90%;
    width: auto;
    object-fit: contain;
    margin-left: 5px;
}

.avatar-name {
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #fff;
}

.resource-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    justify-content: center;
}

.resource-list li {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 120px;
    height: 180px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s;
}

.resource-list li:hover {
    transform: scale(1.05);
}

.resource-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.resource-name {
    display: block;
    margin-bottom: 5px;
}

.class-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: row;
}

.class-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.right-panel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.mob-ore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.mob-ore-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.mob-ore-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 5px;
}

.mob-ore-item img {
    width: 100%;
    height: auto;
}

.mob-ore-item .mob-ore-name {
    margin-top: 5px;
    text-align: center;
}

.grey-avatar-link {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #808080;
    transition: color 0.3s ease;
}

.grey-avatar-link:hover {
    color: #FF4500;
}

.clan-title-fire {
    color: #FF4500;
}

.center-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 200px);
    margin-top: 100px;
    margin-bottom: 100px;
}

.center-icon-wrapper {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100px;
}

.center-icon-wrapper.active {
    opacity: 1;
}

.center-icon-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.center-icon-wrapper.clicked {
    background-color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.center-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.center-icon-wrapper.clicked .center-icon {
    filter: brightness(0) invert(1);
}

.center-icon-text {
    font-size: 14px;
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
}

.tooltip {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
    pointer-events: none;
}

.welcome-text-container {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    z-index: 1000;
    width: 90%;
    margin: 0 auto;
}

.welcome-text-container.collapsed {
    max-height: 30px;
}

.welcome-text-container.expanded {
    max-height: 750px;
}

.welcome-text {
    padding: 30px;
    font-size: 20px;
    line-height: 1.5;
    max-height: 720px;
    overflow-y: auto;
    text-align: left;
}

.welcome-text p {
    margin-bottom: 15px;
    text-align: left;
}

.description {
    margin: 0;
}

.toggle-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1001;
    font-size: 16px;
    font-weight: bold;
}

.toggle-description:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#videoOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#videoPlayer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

.right-panel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

#greyAvatarVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resource-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.resource-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.resource-list li {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 120px;
    height: 180px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s;
}

.resource-list li:hover {
    transform: scale(1.05);
}

.resource-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.resource-name {
    display: block;
    margin-bottom: 5px;
}

.class-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: row;
}

.class-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.right-panel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.mob-ore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.mob-ore-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.mob-ore-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 5px;
}

.mob-ore-item img {
    width: 100%;
    height: auto;
}

.mob-ore-item .mob-ore-name {
    margin-top: 5px;
    text-align: center;
}

.welcome-text {
    padding: 30px;
    font-size: 15px;
    line-height: 1.5;
    max-height: 720px;
    overflow-y: auto;
    text-align: left;
}

.welcome-text p {
    margin-bottom: 18px;
    text-align: left;
}
