body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #eaeaea;
}

header {
    text-align: center;
    background-color: #333;
    padding: 1em;
    position: relative;
}

.clan-title-fire {
    color: #ff5722;
    font-size: 1.2em;
}

h1 {
    color: #00bcd4;
    font-size: 2em;
}

.welcome-text {
    padding: 1em;
    background-color: #424242;
    margin: 1em;
    border-radius: 5px;
}

main {
    display: flex;
}

.left-panel {
    flex: 2;
    padding: 1em;
    background-color: #303030;
}

.right-panel {
    flex: 1;
    padding: 1em;
    background-color: #212121;
    border-left: 1px solid #666;
}

.resource-grid {
    display: flex;
    flex-wrap: wrap;
}

.resource-item {
    width: 100px;
    margin: 10px;
    text-align: center;
}

.resource-item img {
    max-width: 100%;
}

.right-panel-item {
    margin-bottom: 10px;
    text-align: center;
}

.right-panel-item img {
    max-width: 100px;
}

.home-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.right-panel-content {
    text-align: center;
    margin-top: 20px;
}
